<div>
  <img class="nav-image" src="/assets/images/fa_code.png" alt="">
  <h5 class="is-center nav-name"><a href="/">Andrew Pheasey</a></h5>
  <div class="nav is-center">
    <ul>
      <li>
        <a href="{{ "/" | relative_url}}">Home / Project Index</a>
      </li>
      <!-- <li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </li> -->
      <!-- <li>
        <a href="/">Projects</a></li>
      </li> -->
    </ul>
  </div>
  <p>A final year Computing student at the University of Huddersfield.</p>
  <ul class="social-media-list no-list">
    <li>
      Github: <a href="https://github.com/Pheasey/">Pheasey</a>
    </li>
    <li>
      <a href="https://github.com/Pugzy/">Pugzy</a><i><small>- Personal Github</small></i>
    </li>
    <li>
      Gitlab: <a href="https://gitlab.com/Pheasey/">Pheasey</a>
    </li>
  </ul>
</div>
